project:
  type: website
  output-dir: docs
  resources: 
    - "~/Desktop/R/personal_website/_site/Swank_Elin_Resume_CV_copy.pdf"

website:
  title: "websitE"
  navbar:
    left:
      - href: index.qmd
        text: Front Door
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

